@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 98.46%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 167.55 81.37% 58.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 23.58% 24.12%;
    --foreground: 173 24% 93%;
    --muted: 233 10.2% 52.88%;
    --muted-foreground: 233 12% 73%;
    --popover: 242.73 25% 17.25%;
    --popover-foreground: 0 0% 100%;
    --card: 242.73 25% 17.25%;
    --card-foreground: 173 24% 98%;
    --border: 233 9.88% 23.8%;
    --input: 240 27.02% 33.31%;
    --primary: 152.14 91.3% 63.92%;
    --primary-foreground: 172.08 100% 10%;
    --secondary: 150.68 53.66% 32.16%;
    --secondary-foreground: 44 30% 85%;
    --accent: 232.26 17.92% 33.92%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 152.14 91.3% 63.92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}